/*Body Styles*/

/* Font Styles */
@import url(https://fonts.googleapis.com/css?family=Average);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

h1, h2, h3, h4
{
	font-family: 'Fjalla One', sans-serif;
}
p {
	font-family: 'Average', sans-serif;
	font-size: 1.5em;
}
/* Header */
.jumbotron{
	background-image: url('../images/woman.jpg');
	background-size: cover;
	min-height: 500px;
}
.jumbotron h1, h3 {
	color: white;
	}
.main-heading{
		background-color: rgba(0,0,0,0.2);
}

/* Navigation */
.nav{
	height: 100px;
	padding: 20px;
}

/*Column Styles */
.col1 h2{
	color: #42d2e6;

}
.col2 h2{
	color: #FF6F00;
}
.col3 h2{
	color: #FF198D;
}