/*Body Styles*/

/* Font Styles */
@import url(https://fonts.googleapis.com/css?family=Average);
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

h1, h2, h3, h4
{
	font-family: 'Fjalla One', sans-serif;
	color: white;
}
p {
	font-family: 'Average', sans-serif;
	font-size: 1.5em;
	margin: 10px;
}
/* Header */
.jumbotron{
	background-image: url('../images/woman.jpg');
	background-size: cover;
	min-height: 500px;
	margin-bottom: 20px;
}
.jumbotron h1, h3 {
	color: white;
	text-align: center;
	}
.main-heading{
		background-color: rgba(0,0,0,0.2);
}
.center
{
	margin:0 auto;
	width: 200px;
}

/* Navigation */
.nav{
	height: 110px;
	padding: 20px;
}

/*Column Styles */
.col1 h2{
	color: #42d2e6;
}
.col2 h2{
	color: #FF6F00;
}
.col3 h2{
	color: #FF198D;
}
/* Services */
h1,h2,h3,h4{
	text-align: center;
}
/* Images */
img{
	margin: 10px;
}

/* Sign Up */
.sign-up{
background-color: #42d2e6;
height: 100px;
margin-bottom: 50px;
margin-top: 20px;
color: white;
padding: 25px;
}
.sign-up h1,h2,h3{
	color: white;
	margin: 0;
}
.form-control
{
	margin: 10px;
}
/* Inline form*/

/* Button Defaults */
.btn-default
{
	background-color: #FF198D;
	color: white;
}