@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-image: url("../images/7.jpg");
	background-size: cover;
	color: rgb(255,255,255);
	font-size:16px;
	font-family: Verdana, sans-serif;
}
/*.wrapper{
	width: 100%;
}*/
header {
	background-color: white;
	padding: 1em;
	overflow: hidden;
}
nav {
	float: right;
	font-size: 1em;
	padding: 2em;
}
nav a {
color: rgb(188,188,192);
}
nav li {
	list-style-type: none;
	display: inline;
	padding: 0.5em;
}
section {
	text-align:center;
}
p {
	font-family: 'Open Sans', serif;
	font-size: 1.0em;
	padding: 1.5em;
}
h1 {
	font-size: 3em;
	padding: 1em;
	text-transform: uppercase;
	font-family: Roboto, serif;
}
h2 {
	font-size: 1.5em;
	padding: 2em;
	text-transform: uppercase;
	font-family: Roboto, serif;
}

hr {
	margin: 0 auto;
	width: 5em;
	
}
a {
	color: rgb(255,255,255);
	font-family: Roboto, serif;
	font-weight: bold;
	text-transform: uppercase;
}
.project{
	float: left;
	padding: 0.5em;
	width: 50%;
}
#top{
	padding: 7.5em;
}
#featured{
	background-color: white;
	color: black;
	float: left;
	padding: 0 7.5em 0 7.5em;
	width: 100%;
}
.buttonwork {
	border: 2px solid;
	display:inline-block;
	margin: 2.5em auto;
	text-align: center;
	padding:1em 2em;
	text-decoration:none;
}
#logo{
	float: left;
	width:10em;
	margin: 0.5em;
}

