@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-image: url("../images/hero.jpg");
	background-size: cover;
	color: rgb(255,255,255);
	font-size:16px;
	font-family: Verdana, sans-serif;
}
header {
	padding: 60px;
}
nav {
	color: rgb(255,255,255);
	float: right;
	font-size: 15px;
	padding: 10px;
}
nav li {
	list-style-type: none;
	display: inline;
	padding: 5px;
}
section {
	text-align:center;
}
p {
	font-family: 'Open Sans', serif;
	font-size: 1em;
}
h1 {
	font-size: 3em;
	padding-top: 100px;
	text-transform: uppercase;
	font-family: Roboto, serif;
}
h2 {
	font-size: 1.25em;
}

hr {
	width: 200px;
}
a {
	color: rgb(255,255,255);
	font-family: Roboto, serif;
	font-weight: bold;
	text-transform: uppercase;
}
.portbutton {
	border: 2px solid;
	display:inline-block;
	margin: 1em auto;
	text-align: center;
	padding:1em 2em;
	text-decoration:none;
}
#logo{
	float: left;
	width:10em;
}
