header
{
	height: 90px;
	padding: 60px;
}
body {
	font-family: Verdana, sans-serif;
	background-image: url("../images/hero.jpg");
	background-size: cover;
}
#logo
{
	float: left;
}
h1, h2, p {
	color: rgb(255,255,255);
	text-align: center;
}
h1 {
	font-size: 50px;
	padding-top: 100px;
	text-transform: uppercase;
}
h2 {
	font-size: 20px;
}
nav
{
	color: rgb(255,255,255);
	float: right;
	font-size: 15px;
	padding: 10px;
}
nav ul li
{
	list-style-type: none;
	display: inline;
	padding: 5px;
}
hr
{
	width: 200px;
}
.portbutton
{
	color: rgb(255,255,255);
	width: 100px;
	border: 2px;
	border-style: solid;
	margin-left: auto ;
	margin-right: auto ;
	text-align: center;
	padding:15px;
}
/*}
footer {
    position:fixed;
    bottom:0;
}*/